<h1>Sign In </h1>
<form action="<%= session_url %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <label>Username
  <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <label>Password
  <input type="password" name="user[password]">
  </label>
  <input type="submit" value="Sign In">


</form>