<% debugger %>
Topic: <%= @reply.topic.title %>
<form action="<%= reply_url(params[:id]) %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="text" name="reply[content]" value="<%= @reply.content %>">
  <input type="submit" value="update">
</form>
