<style>
  .change {
    float: right;
    display: block;
    background: #547498;
  }
  h1 {
    font-size: 15px;
    padding-bottom: 20px;
  }

</style>

<h1> Dominion Strategy Forum </h1>
<ul>
  <% boards.each(function(board) { %>
  <li class="topic-container">
    <div class="topic">
      <a href="#/boards/<%= board.id %>">
        <%= board.escape("title") %>
      </a>
    </div>

    <% if (DominionStrategyClone.isAdmin) { %>
      <div class="change">
          <button id='<%= board.id %> '>
             REMOVE BOARD
          </button>
      </div>
      <div class="change">
        <a href="#/boards/<%= board.id %>/edit">
          EDIT BOARD
        </a>
      </div>
    <% } %>
  </li>
  <% }) %>
</ul>
