<style>
  .new-topic {
    background: #D6D5DB;
    padding: 4px;
    display: block;
    margin: auto;
    width: 75px;
  }
  .new-topic-container {
    width: 100%;
    height: 75px;
    padding: 22px;
  }
  h1 {
  font-size: 15px;
  padding-bottom: 20px;
  }
  .author {
    float: right;
    background: #F4F4F4;
    width: 505px;
    border: 1px solid black;

  }
  .subject {
    float: left;
    width: 610px;
    margin: auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

  }
  .heading {
    background: #547497;
    color: white;
    padding: 9px;
  }
  .subject-cont {
    float: left;
    padding-left: 300px;

  }
  .author-cont {
    float: left;
    padding-left: 300px;

  }
  ul {
    border: 2px solid white;
  }
  .ul-container {
    border: 1px solid black;
  }
  .border-border {

    border-left: 1px solid black;
    border-right: 1px solid black;
  }



</style>

<h3 class="boardname"> <%= board.get("title") %> </h3>

<div class="ul-container">
<ul>
<li class="heading group">
  <div class="subject-cont">Subject</div>
  <div class="author-cont">Started by</div>
</li>


<% board.topics().each(function(topic) { %>
  <li class="group">
    <div class="border-border">
      <div class="subject">
        <a href="#/topics/<%= topic.id %>">
          <%= topic.get("title") %>
        </a>
      </div>
    </div>
    <div class="border-border">
      <div class="author">
          <% if ( topic.get("user") !== null) { %>
            <a href="users/<%= topic.get('user_id') %>">
              <%= topic.get("user") %>
            </a>
          <% } else { %>
            The author of this Topic has deleted their profile
          <% } %>
      </div>
    </div>
  </li>
<% }) %>
</ul>
</div>

<% if (DominionStrategyClone.loggedIn) { %>
  <div class="new-topic-container">
    <a href="#/boards/<%= board.id %>/topics/new" class="new-topic">
      New Topic
    </a>
  </div>
<% } %>
