<style>
  .change {
    float: right;
    display: block;
    background: red;
  }

</style>

<h1> Home </h1>
<ul>
  <% @topics.each do |topic| %>
  <li class="topic-container"> <div class="topic"> <%= link_to(topic.title, topic_url(topic)) %></div>
    <% if current_user && current_user.admin %>
    <form action="<%= topic_url(topic) %>" method="post">

        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <input type="hidden" name="_method" value="delete">

      <div class="change"><input type="submit" value="REMOVE"></div>

    </form>
    <div class="change"><%= link_to("EDIT BOARD", edit_topic_url(topic)) %></div>

    <% end %>
  </li>
  <% end %>
</ul>
