<style>

  .searchsub {
    background: white;
    width: 40px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid black;
  }
  .searchsub:active {
    background: blue;
    color: white;
  }
  .stuff {
    background: #ECEDF3;
    padding: 15px;
    border: 1px solid black;
  }
  .heading {
    padding: 10px;
  }

</style>


<h3> Dominion Strategy Forum > Search </h3>

<div class="heading"> Set Search Parameters </div>
<div class="stuff">
Search for:
<form>
  <input type="text" style="border:1px solid black" id="s"><br><br>
  <div class="submit searchsub"><input type="submit" value="Search"></div>
</form>
</div>
<section id="search-results"></section>
