<h1>Sign Up </h1>
<form action="<%= users_url %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>Username
  <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <label>Choose password
  <input type="password" name="user[password]">
  </label>
  <input type="submit" value="Register" class="submit">


</form>