<style>
.topic {
  width: 500px;
}

.topic-container {
  height: 75px;
}
</style>

<h1><%= @user.username %>'s Profile Page!</h1>

<% if @user.admin %>
<%= @user.username %> is an admin
<% else %>
<%= @user.username %> is not an admin
<% end %>
<%= "#{@user.username} has posted #{@user.topics.count} topics, and #{@user.replies.count} replies" %>

<br>
<% if @user.topics.length != 0 %>

  <%= @user.username %>'s topics
  <ul>
    <% @user.topics.each do |topic| %>
<li class="topic-container">
  <div class="topic"><%= link_to(topic.title, '/#topics/' + topic.id.to_s) %>
  </div>
  </li>

</ul>
  <% end %>
<% else %>
    <%= @user.username %> has no topics yet
<% end %>

<% if @user == current_user %>
  <%= link_to("edit your profile", edit_user_url(@user.id)) %>
<% end %>
<% if (current_user && current_user.admin) && !@user == current_user  %>
  <%= link_to("edit this profile", edit_user_url(@user.id)) %>
<% end %>
<% if current_user && (@user == current_user || current_user.admin) %>
  <form action="<%= user_url(@user) %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete profile" class="submit">
</form>

<% end %>
