<form action="<%= board_url(@board.id)%>" method="post">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
Title :<input type="text" value="<%= @board.title %>" name="board[title]">
<input type="submit" value="update board title">
</form>