<style>
  .new-topic {
    background: #D6D5DB;
    padding: 4px;
    display: block;
    margin: auto;
    width: 75px;
  }
  .new-topic-container {
    width: 100%;
    height: 75px;
    padding: 22px;
  }
</style>


<h1> <%= @board.title %> </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
<% @board.topics.each do |topic| %>
   <tr> <td><%= link_to(topic.title, board_topic_url(@board,topic)) %></td>
     <% if topic.user != nil%>
       <td><%= link_to(topic.user.username, user_url(topic.user)) %></td>
     <% else %>
       <td>The author of this Topic has deleted their profile</td>
     <% end %>
   </tr>
<% end %>
</table>
<% if logged_in %>
<div class="new-topic-container">
<%= link_to("New Topic", new_board_topic_url(@board), class: "new-topic") %>
</div>
<% end %>

