<article>
  <% if (typeof topic.get('topic') !== "undefined") { %>
  <a href="#/topics/<%= topic.get('topic').id %>">
    <%= console.log(topic.get('topic')) %>
    <%= topic.get('topic').title %>
  </a>
  <% } %>

</article>
