<ul>
<% notifications.each(function(notification) { %>
<% if (!(notification.get('is_read'))) { %>
<li><a href="<%= notification.get('url') %>" id="<%= notification.get('id') %>"><%= notification.get('text') %></a></li>
<% } %>
<% }) %>
</ul>
<% if (notifications.where({is_read: false}).length === 0) { %>
No new replies to your posts
<% } %>
