/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, a, li, ul, table, tr, td, div, h1, h2, h3, input[type="text"], input[type="password"], input[type="submit"], button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent;
  text-align: inherit;
  box-sizing: content-box;
}

li, ul {
  list-style: none;
}

input[type="text"], input[type="password"], input[type="submit"], button {
  -webkit-appearance: none;
  cursor: pointer;
}
a {
  display: inline-block;
}

h1 {
  font-weight: bold;
  font-size: 18px;

}
.top {
  background: #5B7B9F;
  color: white;
  padding: 8px;
  border: solid white 1px;
}
.pagehead {
  border: 1px solid white;
}
.pageheadborder {
  border: 1px solid black;
}


body {
  font-family: sans-serif;
  background: #DFDFE3;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 18px;
  }
input[type="text"], input[type="submit"], input[type="password"], a, button {

    padding: 8px;
    border: none;
  }

.hello {
    background: #C8D4DF;
    padding: 10px;
    border: 1px solid white;
  }

.notifications {
    padding: 1px;
    background: #F4F4F4;
    color: #38589A;
  }


.nav {
  padding: 1px 5px 1px 5px;
  float: left;
  display: block;
}


.nav a, input[type="submit"]{

  font-weight: 100;
  font-size: 10px;
}
.home {

}
.nav-bar {
  float: left;
  box-sizing: content-box;
  height: 30px;
  background: #446488;
  padding: 3px;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid white;
}

.group:after{
  display: block;
  content: "";
  clear: both;
}



.topic-container{
     width: 100%;
     height: 48px;
     border: 1px solid black;
     background: #F4F4F4;
     color: #38597D;


 }
 .topic {
   text-align: left;
   float: left;
   display: block;
   width: 300px;
   margin-left: 30px;
   margin-top: 5px;
   margin-bottom: 5px;
 }

 a:hover, input:hover, button:hover {
   text-decoration: underline;
 }
 .main-content{
   margin-top: 20px;
 }
 h3 {
   font-size: 15px;
   padding-bottom: 20px;
 }
